---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import { Icon } from "astro-icon/components";

import andrewImage from "assets/Andrew.jpg";
import rogerImage from "assets/Roger.jpg";
import adalmarImage from "assets/Adalmar.jpg";
import joelImage from "assets/Joel.jpeg";
import yorlanImage from "assets/Yorlan.jpg";
import joseImage from "assets/Jose.jpg";

const publishedTeamMembers = await getCollection("team", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});
---

<Layout title="Profesores de Indigos">
  <main class="py-16 bg-gradient-to-br from-blue-50 via-blue-100 to-blue-200">
    <Container>
      <Sectionhead>
        <Fragment slot="title">
          <span class="flex items-center justify-center gap-2 text-blue-700">
            <Icon name="mdi:account-group" class="text-3xl" /> Nuestros Profesores
          </span>
        </Fragment>
        <Fragment slot="desc">Pasión y experiencia que inspiran.</Fragment>
      </Sectionhead>

      <div class="flex flex-col gap-3 mx-auto max-w-4xl mt-16">
        <h2 class="font-bold text-4xl text-blue-700 text-center">
          Conoce a Nuestros Talentosos Instructores
        </h2>
        <p class="text-lg leading-relaxed text-gray-600 text-center">
          En Indigos, nuestros profesores combinan experiencia, pasión y dedicación para
          formar a la próxima generación de bailarines. Descubre sus historias.
        </p>
      </div>

      <!-- Sección de Profesores -->
      <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-6xl mt-12">
        {
          [
            {
              name: "Andrew Pérez (A.K.A Polar)",
              title: "Director, Bailarín, Coreógrafo y Profesor",
              image: andrewImage,
              role: "Instructor",
              details: [
                "5 años de experiencia en el ámbito laboral.",
                "Ganador de múltiples competencias a nivel nacional.",
                "3er lugar en 'Desafío al Movimiento (DAM) 2018'.",
                "1er lugar en 'MDLD Caracas 2021'.",
                "Jurado en eventos de K-Pop Dance Cover.",
                                "Ganador de la Ares Battle 2024",
                "Ganador en el FIB del Primer Lugar. Categorías en Grupo Small Juvenil - Adulto y Profesional",
              ],
            },
            {
              name:"José Jaimes (A.K.A Shino)",
              title: "Bailarín, Coreógrafo y Profesor",
              image: joseImage,
              role: "Instructor",
              details: [
                "12 años de experiencia en el ámbito laboral.",
                "Bailarín de Bailando Soy Imbatible.",
                "Bailarín de Miss Venezuela 2019.",
                "Ex Bailarín del Ballet de Venevisión.",
                "Integrante del Crew Musa Crew Elite.",
                "Ganador de la Ares Battle 2024",
                "Ganador en el FIB del Primer Lugar. Categorías en Grupo Small Juvenil - Adulto y Profesional",
              ],
            },
            {
              name: "Joel Cavaniel (A.K.A Jay Smith)",
              title: "Fundador de SKALA, Instructor de Popping y Hip Hop",
              image: joelImage,
              role: "Instructor",
              details: [
                "10 años de experiencia en escenas artísticas.",
                "Especialista en Popping y hip hop dance/freestyle.",
                "Miembro de los crews: @soulninja_ y @the.linkcrew.",
                "Jurado y competidor ganador a nivel nacional.",
                "Fundador de SKALA en 2022 para motivar e instruir en Maracay.",
              ],
            },
            {
              name: "Roger Polly",
              title: "Bailarín y Profesor Suplente",
              image: rogerImage,
              role: "Instructor Auxiliar",
              details: [
                "Formación en Indigos gakkou desde hace 3 años.",
                "Miembro del Grupo Elite de la academia.",
                "Conocimientos en Vogue, afro dance y Hip Hop.",
                "Participante en competencias estatales.",
                "Estudiante universitario del 9no semestre de comunicación social.",
              ],
            },
            {
              name: "Adalmar Delgado",
              title: "Bailarina y Coreógrafa",
              image: adalmarImage,
              role: "Instructor Auxiliar",
              details: [
                "Formación en Indigos gakkou desde hace 3 años.",
                "Ganadora de varias competencias a nivel nacional.",
                "Miembro del 'Club Karl Maxx' como atleta y gimnasta.",
                "1er lugar en 'The Battle on the Move'.",
                "2do lugar en 'A Escena'.",
              ],
            },
            {
              name: "Yorlan Correa",
              title: "Actor, Bailarín y Profesor Suplente",
              image: yorlanImage,
              role: "Instructor Auxiliar",
              details: [
                "Formación en Indigos gakkou desde hace 3 años.",
                "Actor formado por Dairo Piñeres y César León.",
                "Participación en obras teatrales y cortometrajes.",
                "Formado por más de 10 profesores nacionales en danza.",
                "Ganador de competencias grupales como 'The Battle On The Move' y 'Ares Battle'.",
              ],
            },
          ].map((member) => (
            <div class="group bg-white rounded-lg shadow-lg transition-all hover:shadow-xl card">
              <div class="relative w-full h-100 overflow-hidden rounded-t-lg bg-gray-100">
                <Picture
                  src={member.image}
                  alt={member.name}
                  sizes="(max-width: 800px) 150vw, 400px"
                  width={400}
                  height={400}
                  class="w-full h-full object-cover object-center"
                />
                <span
                  class={`absolute top-3 right-3 px-3 py-1 text-white text-sm font-semibold rounded-md shadow-md ${
                    member.role === "Instructor"
                      ? "bg-blue-500"
                      : "bg-green-500"
                  }`}>
                  {member.role}
                </span>
              </div>

              <div class="p-6 text-center">
                <h2 class="text-xl font-bold text-blue-600 group-hover:text-blue-800 transition-colors duration-200">
                  <Icon
                    name={
                      member.role === "Instructor"
                        ? "mdi:school"
                        : "mdi:account-circle"
                    }
                    class="inline-block mr-1 text-lg"
                  />
                  {member.name}
                </h2>
                <h3 class="text-sm text-gray-500 mt-1">{member.title}</h3>
                <ul class="text-gray-600 mt-4 space-y-2 text-left list-disc list-inside">
                  {member.details.map((detail) => (
                    <li>{detail}</li>
                  ))}
                </ul>
              </div>
            </div>
          ))
        }
        
      </div>
    </Container>
  </main>
</Layout>

<style>
  .card {
    min-height: 40rem; /* Establece una altura mínima estándar para las tarjetas */
  }
</style>
