---
import { getCollection } from "astro:content";
import { Picture } from "astro:assets";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";

const publishedBlogEntries = await getCollection("blog", ({ data }) => {
  return !data.draft && data.publishDate < new Date();
});

publishedBlogEntries.sort(function (a, b) {
  return b.data.publishDate.valueOf() - a.data.publishDate.valueOf();
});
---

<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
/>

<Layout title="Blog">
  <Container>
    <Sectionhead>
      <Fragment slot="title">
        <span class="flex items-center justify-center gap-2 text-blue-700">
          <i class="fas fa-book-open"></i> Contenido
        </span>
      </Fragment>
      <Fragment slot="desc"> Conoce más sobre Indigos Gakkou </Fragment>
    </Sectionhead>
    <main class="mt-16">
      <ul class="grid gap-16 max-w-4xl mx-auto">
        {
          publishedBlogEntries.map((blogPostEntry, index) => (
            <li>
              <a href={`/blog/${blogPostEntry.slug}`}>
                <div class="grid md:grid-cols-2 gap-5 md:gap-10 items-center">
                  <div class="overflow-hidden p-4 bg-white rounded-md">
                    <Picture
                      src={blogPostEntry.data.image.src}
                      alt={blogPostEntry.data.image.alt}
                      sizes="(max-width: 800px) 100vw, 800px"
                      width={800}
                      height={600}
                      loading={index <= 2 ? "eager" : "lazy"}
                      decoding={index <= 2 ? "sync" : "async"}
                      class="w-full h-48 object-contain object-center rounded-md"
                    />
                  </div>

                  <div>
                    <span class="text-blue-400 uppercase tracking-wider text-sm font-medium">
                      {blogPostEntry.data.category}
                    </span>

                    <h2 class="text-3xl font-semibold leading-snug tracking-tight mt-1 ">
                      {blogPostEntry.data.title}
                    </h2>

                    <div class="flex gap-2 mt-3">
                      <span class="text-gray-400">
                        {blogPostEntry.data.author}
                      </span>
                    </div>
                  </div>
                </div>
              </a>
            </li>
          ))
        }
      </ul>
    </main>
  </Container>
</Layout>
